In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

Exercise 1

In [3]:
n=130
xbar=98.25
s= 0.73

In [5]:
std_error=s / np.sqrt(n)
std_error

0.06402523540941313

In [22]:
z = stats.norm.ppf(1-0.005)
z

2.5758293035489004

In [23]:
#for %99 Confidence level
moe=z*std_error
moe

0.16491807753418303

In [24]:
stats.norm.interval(confidence=0.99, loc=xbar, scale= std_error)   #hata verdi? alpha parametresi istedi

TypeError: interval() missing 1 required positional argument: 'alpha'

In [25]:
stats.norm.interval(alpha=0.01, loc=xbar, scale= std_error)

(98.24919754166424, 98.25080245833576)

In [26]:
lower_limit = xbar - moe
lower_limit                #neden farklı sınır değerleri çıktı?

98.08508192246582

In [27]:
upper_limit = xbar + moe
upper_limit

98.41491807753418

Exercise 2

In [38]:
x_bar = 5.4
std_dev = 3.1
n = 500

In [40]:
z1 = stats.norm.ppf(1-0.025)
z1

1.959963984540054

In [47]:
std_error1=std_dev / np.sqrt(n)
std_error1

0.13863621460498696

In [49]:
#for %95 Confidence level
moe=z1*std_error1
moe

0.2717219875787403

In [50]:
stats.norm.interval(alpha=0.05, loc=x_bar, scale= std_error1)

(5.391306569675877, 5.408693430324123)

In [51]:
lower_limit = x_bar - moe
lower_limit                #neden farklı sınır değerleri çıktı?

5.12827801242126

In [52]:
upper_limit = x_bar + moe
upper_limit

5.67172198757874

In [53]:
list=[lower_limit, upper_limit]
list

[5.12827801242126, 5.67172198757874]

Exercise 3

In [ ]:
#H0: mu = 13.20
#H1: mu < 13.20

In [2]:
mu = 13.20
xbar2= 12.20
std= 2.50
n=40
alpha=0.01

In [6]:
z = (xbar2 - mu) / (std/np.sqrt(n))
z

-2.5298221281347035

In [4]:
pvalue= 0.005706018193000826  #soruda verilen p value değerini kullandım

In [7]:
p_value = 1 - stats.norm.cdf(z)     #??
p_value

0.9942939818069991

In [8]:
if pvalue < alpha:
    print('At {} level of significance, we can reject the null hypothesis in favor of alternative hypothesis.'.format(alpha))
else:
    print('At {} level of significance, we fail to reject the null hypothesis.'.format(alpha))

At 0.01 level of significance, we can reject the null hypothesis in favor of alternative hypothesis.

Exercise 4

In [2]:
df=pd.read_csv("soil - Sheet1.csv")
df

    Soil1  Soil2
0   1.442  1.364
1   1.943  1.878
2   1.110  1.337
3   1.912  1.828
4   1.553  1.371
5   1.641  1.428
6   1.499  1.119
7   1.347  1.373
8   1.685  1.589
9   1.578  1.714
10  1.866  1.260
11  1.653  1.492
12  1.665  1.395
13  1.640  1.778
14  1.976  1.611
15  1.754  1.202
16  1.589  1.542
17  1.976  1.094
18  1.863  1.557
19  1.932  1.053
20  1.570  1.183
21  1.613  1.367
22  2.054  1.144
23  1.550  1.151
24  1.714  1.561
25  1.896  1.192
26  1.737  1.489
27  1.740  1.379
28  1.708  1.501
29  1.548  1.277
30    NaN  1.593
31    NaN  1.172
32    NaN  1.510
33    NaN  1.740
34    NaN  1.355

In [12]:
df.Soil1.std()

0.20690284243310078

In [4]:
df1=df.copy()

In [5]:
df.shape

(35, 2)

In [10]:
a=df.Soil1.mean()
a

1.6918

In [24]:
df.fillna(a, inplace=True)
df

     Soil1  Soil2
0   1.4420  1.364
1   1.9430  1.878
2   1.1100  1.337
3   1.9120  1.828
4   1.5530  1.371
5   1.6410  1.428
6   1.4990  1.119
7   1.3470  1.373
8   1.6850  1.589
9   1.5780  1.714
10  1.8660  1.260
11  1.6530  1.492
12  1.6650  1.395
13  1.6400  1.778
14  1.9760  1.611
15  1.7540  1.202
16  1.5890  1.542
17  1.9760  1.094
18  1.8630  1.557
19  1.9320  1.053
20  1.5700  1.183
21  1.6130  1.367
22  2.0540  1.144
23  1.5500  1.151
24  1.7140  1.561
25  1.8960  1.192
26  1.7370  1.489
27  1.7400  1.379
28  1.7080  1.501
29  1.5480  1.277
30  1.6918  1.593
31  1.6918  1.172
32  1.6918  1.510
33  1.6918  1.740
34  1.6918  1.355

In [29]:
n1=35
n2=35
xbar=a
ybar=df.Soil2.mean()
s1=df.Soil1.std()
s2=df.Soil2.std()
alpha=0.01

In [30]:
# H0: mu1 = mu2
# H1: mu1 != mu2

In [31]:
leveneTest = stats.levene(df.Soil1, df.Soil2)
leveneTest

LeveneResult(statistic=1.6612825488884275, pvalue=0.20179788672995813)

In [33]:
indTest = stats.ttest_ind(df.Soil1, df.Soil2, equal_var = True)
indTest

Ttest_indResult(statistic=5.58856260809653, pvalue=4.381657766244157e-07)

In [35]:
if indTest.pvalue < alpha:
    print("Reject the null. At the α=0.01, We have sufficient evidence to state that floors differ in average shear strength.")
else:
    print("Fail to reject the null.")

Reject the null. At the α=0.01, We have sufficient evidence to state that floors differ in average shear strength.

Exercise 5

In [37]:
df2=pd.read_csv("2015 PISA Test - Sheet1.csv")
df2

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375
...,...,...,...,...,...,...
65,TUN,AF,48.519836,366.8180,361.0555,386.4034
66,TUR,EU,53.744979,420.4540,428.3351,425.4895
67,URY,SA,64.600000,417.9919,436.5721,435.3630
68,USA,NaN,74.554202,469.6285,496.9351,496.2424
69,VNM,AS,43.500000,494.5183,486.7738,524.6445

In [38]:
df3=df2.copy()

In [40]:
df2.isnull().value_counts()

Country Code  Continent_Code  internet_users_per_100  Math   Reading  Science
False         False           False                   False  False    False      65
              True            False                   False  False    False       5
dtype: int64